<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DSharpPlus" version="4.0.0-nightly-00643" targetFramework="net472" />
  <package id="DSharpPlus.CommandsNext" version="4.0.0-nightly-00643" targetFramework="net472" />
  <package id="Emzi0767.Microsoft.DependencyInjection" version="2.0.0" targetFramework="net472" />
  <package id="Emzi0767.Microsoft.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.0-preview5.19224.8" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>